h2 {
  color: black;
}

h1 {color: black;
}

div.relative {
  position: relative;
  bottom: -380px;
  left: 520px;
}

div.textarea {
  position: relative;
  bottom: -300px;
  left: 10px;}

  p.sansserif {
    font-family: Arial, Helvetica, sans-serif;}


    div.TEXT2 {
      position: relative;
      bottom:100px;
      left: 900px;}

body {
  background-image: url("IMG_1198.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;}


p  {// background-color:none; }
IMG_1198.gif {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;}
