h2 {
  color: black;
}

h1 {color: black;
}

div.relative {
  position: relative;
  bottom: -380px;
  left: 520px;
}

div.textarea {
  position: relative;
  bottom: -300px;
  left: 10px;}

  p.sansserif {
    font-family: Arial, Helvetica, sans-serif;}

    div.TEXT2 {
      <blend-mode: difference;>
      position: relative;
      bottom: 100px;
      left: 900px;}

body {
  background-image: url("IMG_1198.gif");
  background-repeat: no-repeat;
  position: relative;}


p  {// background-color:none; }
